<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">


<head>
<style>
	* {
		font-family: Arial;
	}
	h2 {
		color:blue;
	}
	p {
		font-style : italic;
	}
	table, th, td {
  		border: 1px solid black; 
  		border-collapse: collapse;
		padding:2px;
		} 
</style>


</head>
	<body>
	<div layout:fragment="content" class="container-xl">
		<font size="5">Please wait while we redirect you to the third-party hiring site...</font>
		<div class="imgcontainer">
		  	<img th:src="@{/img/loadingGif.gif}" alt="Loading" class="loading" width="500" height="500"/>
		</div>
		<font size="1">loading animation from Mashable(2016)</font>
	</div>
	</body>
</html>
