<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">


<head>
<style>
	* {
		font-family: Arial;
	}
	h2 {
		color:blue;
	}
	p {
		font-style : italic;
		font-size:xx-large;
	}
	table, th, td {
  		border: 1px solid black; 
  		border-collapse: collapse;
		padding:2px;
		} 
</style>


</head>
	<body>
	<div layout:fragment="content" class="container-xl">
		<font size="6">This page is unavailable</font>
      	<div class="imgcontainer">
		  	<img th:src="@{/img/stockPhoto38.jpg}" align="left" alt="photo1" class="photo1" width="500" height="400"/>
		  	<p style="margin-left:400px;">
		  	<br><br><br><br>This page is currently under construction<br><br><br><br>
		  	</p>
		</div>
	</div>
	</body>
</html> 