<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">


<head>
<style>
	* {
		font-family: Arial;
	}
	h2 {
		color:blue;
	}
	p {
		font-style : italic;
	}
	table, th, td {
  		border: 1px solid black; 
  		border-collapse: collapse;
		padding:2px;
		} 
</style>


</head>
	<body>
	<div layout:fragment="content" class="container-xl">
		<font size="6">Terms & Conditions</font>
		<font size="4">
		<div style = "position:relative; left:0px; top:2px;">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Congue eu consequat ac felis donec et odio pellentesque. Parturient montes nascetur ridiculus mus mauris. Scelerisque fermentum dui faucibus in ornare quam. Est ullamcorper eget nulla facilisi etiam dignissim diam quis. Libero nunc consequat interdum varius sit amet mattis vulputate enim. Dui ut ornare lectus sit. Habitasse platea dictumst vestibulum rhoncus. Egestas sed sed risus pretium quam vulputate. Convallis tellus id interdum velit laoreet id. Pellentesque massa placerat duis ultricies lacus sed. Lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit. Placerat vestibulum lectus mauris ultrices eros in cursus. Elit duis tristique sollicitudin nibh sit amet commodo nulla. Lectus proin nibh nisl condimentum id venenatis a condimentum vitae.
		<br>
		<br>
		</div>
		</font>
		<font size="6">Web Privacy Policy</font>
		<font size="4">
		<div style = "position:relative; left:0px; top:2px;">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Congue eu consequat ac felis donec et odio pellentesque. Parturient montes nascetur ridiculus mus mauris. Scelerisque fermentum dui faucibus in ornare quam. Est ullamcorper eget nulla facilisi etiam dignissim diam quis. Libero nunc consequat interdum varius sit amet mattis vulputate enim. Dui ut ornare lectus sit. Habitasse platea dictumst vestibulum rhoncus. Egestas sed sed risus pretium quam vulputate. Convallis tellus id interdum velit laoreet id. Pellentesque massa placerat duis ultricies lacus sed. Lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit. Placerat vestibulum lectus mauris ultrices eros in cursus. Elit duis tristique sollicitudin nibh sit amet commodo nulla. Lectus proin nibh nisl condimentum id venenatis a condimentum vitae.
      	</div>
		</font>
	</div>
	</body>
</html>
